<div class="col-xs-10 col-xs-offset-1">
<h1>About Splurty</h1>
</div>

<p> Splurty was built by <a href="https://www.linkedin.com/in/daniel-julian-cardenas-2a402a88">DJ Cardenas</a> </p>

<br/> 

<p> DJ is a young future web developer currently working as an event coordinator in New Jersey. While traveling the state working some of the biggest events during the day he studies web development early mornings  and late nights to become the best that he can be and collaborate with any others along the way </p>


<div class="col-xs-12 col-sm-4">
	<%= image_tag 'DJ.jpg', class: 'img-responsive' %>
	</div>

	<br class="clear" />
	<br />
	<br />
	<br />
	<br />
	